<div uk-sticky class="uk-navbar-container tm-navbar-container uk-active">
    <div class="uk-container uk-container-expand">
        <nav uk-navbar>
            <div class="uk-navbar-left">
                <a id="sidebar_toggle" class="uk-navbar-toggle" uk-navbar-toggle-icon ></a>
                <a href="{{ path(quick_coding.app_home) }}" class="uk-navbar-item uk-logo uk-visible@s">
                    {{ quick_coding.app_name }}
                </a>
            </div>
            <div class="uk-navbar-right uk-light">
                <ul class="uk-navbar-nav">
                    <li class="uk-active">
                        <a href="#">{{ app.user ? app.user.Name : 'Anonymous'}}<span class="ion-ios-arrow-down"></span></a>
                        {% if app.user %}
                        <div uk-dropdown="pos: bottom-right; mode: click; offset: -17;">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="{{ path('app_logout') }}"><span class="uk-margin-small-right" uk-icon="icon: sign-out"></span> Logout</a></li>
                            </ul>
                        </div>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>