<div id="sidebar" class="tm-sidebar-left uk-background-default">
    <center>
        <img id="avatar" width="100" src="{{ asset(quick_coding.app_logo ? quick_coding.app_logo : quick_coding.public ~ 'images/logo.png') }}">
        <hr>
        <span class="uk-label uk-label-success">
            <script>document.write(new Date().toLocaleDateString('en', { year: 'numeric', month: 'long', day: 'numeric' }))</script>
        </span>
    </center>
    <br><br>
    <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
        <li class="uk-nav-header"><b>Navigations</b></li>
        <li class="uk-nav-divider"></li>
    </ul>
</div>